{% extends "base.html" %} 

{% load static %} 

{% block register-head %} 
    {% include "dashboard/includes/register-head.html" %} 
{% endblock register-head %} 


{% block content %}
<head>
    <!-- auth -->
    <link rel="stylesheet" href="{% static 'public/backend/assets/css/auth.css' %}">
</head>
<div class="nk-main">
    <style>
        .bg{background-color: #0f074e;}
    </style>
  <!-- wrap @s  -->
  <div class="nk-wrap nk-wrap-nosidebar bg">
    <!-- content @s  -->
    <div class="nk-content">
      <div class="nk-block nk-block-middle nk-auth-body wide-xs">
        <div class="brand-logo pb-4 text-center">
          <a
            href="{% url 'homepage' %}"
            class="wgs-logo-s2 d-inline-block mb-2 mb-md-0 d-flex justify-content-center"
          >
          <img src="{% static 'public/home/images/favicon.png' %}" alt="logo">
          <p class="logo-p logo-dark pt-2 pl-1">UvestFinance</p>
          </a>
        </div>
      </div>
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
            min-vh-100">
          <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="mb-4">
                  <h5>Forgot Password?</h5>
                  <p class="mb-2">Enter your registered email ID to reset the password
                  </p>
                </div>
                <form method="post">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                      required="">
                  </div>
                  <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-primary">
                      Reset Password
                    </button>
                  </div>
                  <span>Don't have an account? <a href="{% url 'register' %}">Sign up</a></span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- wrap @e  -->
  </div>
  <!-- content @e  -->
</div>


{% endblock content %}
