{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
  <!-- auth -->
  <link rel="stylesheet" href="{% static 'public/backend/assets/css/auth.css' %}">
</head>
<div class="row justify-content-center mt-7">
    <div class="col-lg-5 text-center">
      <div class="card mt-5">
        <div class="card-body py-5 px-lg-5">
          <div class="svg-icon svg-icon-xl text-purple">
            <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 512 512"><title>ionicons-v5-g</title><path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect></svg>
          </div>
          <h3 class="fw-normal text-dark mt-4">
            Email verification
          </h3>
          <p class="mt-4 mb-1">
            We sent a verification link to your email. Please click on the link to verify your email address
          </p>
        </div>
      </div>

      <p class="text-center text-muted mt-4">
        Didn't receive it?
        <a href="{% url 'verify' %}" class="text-decoration-none ms-2">
          Resend link
        </a>
      </p>
    </div>
  </div>
{% endblock content %}