{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/353b79b2ea9db02690b55e55fb094e08?family=Bold" rel="stylesheet">
  <title>Welcome to UvestFinance</title>
</head>


<body>
    <div class="logo">
      <img src="{% static 'public/home/images/favicon.png' %}" alt="UvestFinance">
      <p class="logo-p logo-light pl-1">UvestFinance</p>
    </div>
  <div class="container">
    <h3>Welcome to UvestFinance</h3>
    <p>Dear {{ first_name }},</p>
    <p>Thank you for choosing UvestFinance for your financial services and portfolio needs. We are excited to embark on this journey with you.</p>
    <p>Here are some key features you can expect from our services:</p>
    <ul>
      <li>Comprehensive financial planning</li>
      <li>Customized portfolio building</li>
      <li>Expert investment advice</li>
      <li>Timely market insights</li>
      <li>Loan Application</li>
    </ul>
    <p>If you have any questions or need assistance, feel free to reach out to our dedicated support team <a href="mailto:support@UvestFinance.bio">here</a>.</p>
    <p>Once again, welcome to UvestFinance !</p>
    <div class="footer">
      <p>Best regards,<br>UvestFinance Team</p>
    </div>
  </div>
</body>

</html>
