{% extends "dashboard-base.html" %} 

{% block side-nav %}
  {% include "./includes/side-nav.html" %}
{% endblock side-nav %}

{% block deposit-money %}
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="alert alert-success alert-dismissible"
          id="main_alert"
          role="alert"
        >
          <button type="button" id="close_alert" class="close">
            <span aria-hidden="true"
              ><i class="icofont-close-line-squared-alt"></i
            ></span>
          </button>
          <span class="msg"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="header-title text-center">Manual Deposit Methods</h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-md-center">
              <p>No manual deposit methods for now</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!--End layoutSidenav_content-->
{% endblock deposit-money %}

