{% extends "base.html" %} 
{% load static %} 

{% block title %}
<title>Privacy Policy</title>
{% endblock title %}

{% block privacy-policy %}
    {% include "./includes/navbar.html" %}
    <section class="section pb-0 ov-h mb-3">
        <div class="container">
            <div class="nk-block">
                <div class="section-head text-left">
                    <h2 class="title">Privacy Policy</h2>
                </div>
                <div class="row gutter-vr-15px">
                    <div class="col-md-10 col-sm-12">
                        <p>
                            This Privacy Policy describes Our policies and procedures on the collection, 
                        use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You. 
                        We use Your Personal data to provide and improve the Service. By using the Service, 
                        You agree to the collection and use of information in accordance with this Privacy Policy.
                        </p>
                        
                        <section class="section-1 mb-5">
                            <h5>1. Definitions</h5>
                            <p class="mb-3">For the purposes of this Privacy Policy:</p>
                            <ul class="pl-4">
                                <li><span style="font-weight: bold">Account</span> means a unique account created for You to access our Service or parts of our Service.</li>
                                <li><span style="font-weight: bold">Company</span> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to uvestfinance</om                                <li><span style="font-weight: bold">Country</span> refers to: Texas, United States</li>
                                <li><span style="font-weight: bold">Personal</span> Data is any information that relates to an identified or identifiable individual.</li>
                                <li><span style="font-weight: bold">Website</span> refers to uvestfinance, omssible from https://uvestfinance.com</li>
                                <li><span style="font-weight: bold">You</span> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
                            </ul>
                        </section>
                        <section class="section-2 mb-5">
                            <h5>2. Collecting and usage of user's Personal Data</h5>
                            <h6>Personal Data</h6>
                            <p class="mb-3">
                                While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. 
                                Personally identifiable information may include, but is not limited to:
                            </p>
                            <ul class="pl-4">
                                <li>Email address</li>
                                <li>Firstname and lastname</li>
                                <li>Phone number</li>
                                <li>Address, State, Province, ZIP/Postal code, City</li>
                                <li>Usage data</li>
                                <li>Name and address of the business</li>
                            </ul>
                        </section>
                        <section class="section-3 mb-5">
                            <h5>3. Usage data</h5>
                            <p>
                                Usage Data is collected automatically when using the Service. 
                                Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, 
                                the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                            </p>
                            <p>
                                When You access the Service by or through a mobile device, 
                                We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, 
                                Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data. 
                                We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.
                            </p>
                        </section>
                        <section class="section-4 mb-5">
                            <h5>4. How to Contact Us</h5>
                            <p class="mb-3">If you have any questions about this Privacy Policy, You can contact us:</p>
                            <ul class="pl-4">
                                <li>By email: <a href="mailto:support@uvestfinance.co">support@uvestfinance.co</a></li>
                                <li>By visiting our website: <a href="{% url 'homepage' %}">https://uvestfinance.com</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
                

    {% include "./includes/footer.html" %}
{% endblock privacy-policy %}