{% extends "base.html" %} 
{% load static %} 

{% block title %}
<title>Terms and Conditions</title>
{% endblock title %}

{% block terms %}
    {% include "./includes/navbar.html" %}
    <section class="section pb-0 ov-h mb-3">
        <div class="container">
            <div class="nk-block">
                <div class="section-head">
                    <h2 class="title">Terms of use</h2>
                </div>
                <div class="row gutter-vr-15px">
                    <div class="col-md-10 col-sm-12 mb-3">
                        <p>
                            This Privacy Policy describes Our policies and procedures on the collection, 
                        use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You. 
                        We use Your Personal data to provide and improve the Service. By using the Service, 
                        You agree to the collection and use of information in accordance with this Privacy Policy.
                        </p>
                        
                        <section class="section-1 mb-5">
                            <h5>1. Introduction</h5>
                            <p class="mb-3">UvestFinance  is a company registered in Texas, United States with file number 5396990 (UvestFinance).</p>
                            <p>UvestFinance renders the folowing services: </p>
                            <ul class="pl-4 mb-3">
                                <li style="font-weight: bold">Processing of online payment transactions.</li>
                                <li style="font-weight: bold">Managed investment of your revenue in crypto assets.</li>
                                <li style="font-weight: bold">Customer retention support.</li>
                            </ul>
                            <p>
                                These Generally Applicable Terms apply to all UvestFinance Services and UvestFinance Account holders, 
                                and shall include this document as well as any Schedules hereto, 
                                and shall be read in accordance with the policies ("UvestFinance Policies") as may be referred to herein or elsewhere within the UvestFinance Website and which are to form part of these terms, 
                                including but not limited to:
                            </p>
                            <ul class="pl-4 mb-3">
                                <li>Cookie policy</li>
                                <li>Privacy Policy</li>
                                <li>Compliant Policy</li>
                            </ul>
                            <p class="mb-3">
                                Please read the terms and conditions that may be especially applicable to the UvestFinance Services you desire to contract in addition to these Generally Applicable Terms and the policies referred to above.
                                The <span style="font-weight: bold">'UvestFinance Terms'</span> refers to these Generally Applicable Terms, the above-mentioned rules, 
                                and any other terms that may be applicable to the specific UvestFinance Services being contracted.
                            </p>
                            <p class="mb-3">
                                The UvestFinance Terms are a framework agreement that sets out the terms and conditions for you to use, 
                                access, view, or interact with UvestFinance in any way, including applying for a UvestFinance account <span style="font-weight: bold">('UvestFinance Account')</span> 
                                or using UvestFinance Services in any way ('UvestFinance Interaction').
                            </p>
                            <p class="mb-3">
                                You must read and understand these Generally Applicable Terms and the UvestFinance Policies, 
                                as well as any UvestFinance Terms specifically relating to the UvestFinance Services you wish to contract and the various associated risk warnings contained therein, 
                                before opening a UvestFinance Account or obtaining exposure to the UvestFinance Services.
                            </p>
                            <p class="mb-3">
                                By proceeding with any UvestFinance Interaction, you accept and acknowledge the associated risks in dealing with the respective UvestFinance Services and your agreement with these Generally Applicable Terms, the UvestFinance Policies as well as any UvestFinance Terms specifically relating to the UvestFinance Services you wish to contract. 
                                You further agree to accept the decisions of UvestFinance with respect to all matters relating to the UvestFinance Services including the terms of any third-party providers which UvestFinance may engage with in the provision of the UvestFinance Services.
                            </p>
                        </section>
                        
                        <section class="section-2 mb-5">
                            <h5>2. Registration Process</h5>
                            <p class="mb-3">
                                Once your UvestFinance Account has been activated, you will be able to access the UvestFinance Services, 
                                subject to UvestFinance's identification and verification process, which you must follow.
                                You agree that any information you provide during the identification and verification procedure, 
                                or in any other situation, is genuine and accurate, 
                                and that any payment you make through your UvestFinance Account is your rightful property and comes from a legitimate source.
                            </p>
                            <p class="mb-3">
                                For the purposes of verification, UvestFinance may seek more information from you. 
                                You agree to comply with all requests made on our behalf by UvestFinance or any of our third-party service providers in connection with your UvestFinance Account, 
                                including requests to identify or authenticate your identity, validate your funding sources, proof of control of your crypto private address, 
                                and any UvestFinance Transaction. This may include, but is not limited to, 
                                requesting additional information from you that will enable us to reasonably identify you, 
                                such as requiring you to take steps to prove ownership of your phone number or checking your information against third-party databases or other sources.
                            </p>
                            <p class="mb-3">
                                If we are unable to collect and verify such information, 
                                or if you do not comply with our reasonable demands, we have the right to close, suspend, 
                                or limit access to your UvestFinance Account and/or the UvestFinance Services.
                            </p>
                            <p class="mb-3">
                                We may discreetly verify the information you give us with, or we may collect information about you from secure databases ourselves or through third parties. 
                                By agreeing to these Generally Applicable Terms, you agree that we or a third party acting on our behalf may conduct such verifications.
                                You must keep your UvestFinance Account details valid and up to date at all times. 
                                If we suspect your information is outdated or wrong at any time, we may contact you and request additional information or ask you to repeat the verification procedure. 
                                While we validate your identity, a UvestFinance Transaction limit may be placed on your UvestFinance Account, or an existing limit may be changed. 
                                We will not be liable for any losses resulting from your failure to keep your information up to date.
                            </p>
                            <p class="mb-3">
                                To access the UvestFinance Services, go to the Accounts page in the UvestFinance Website or App and pick the appropriate UvestFinance Account.
                            </p>
                        </section>
                        
                        <section class="section-3 mb-5">
                            <h5>3. Security</h5>
                            <p>
                                It is solely your responsibility to keep your UvestFinance Account secure. 
                                While we may help you restore access to your UvestFinance Account if it is reasonable, 
                                UvestFinance is not obligated to restore any access to a UvestFinance Account in any event, 
                                including in the event of theft or any loss of control of the means of access to the UvestFinance Account. 
                                You agree that UvestFinance is not responsible for any damages or losses incurred as a result of such theft or loss of control of your UvestFinance Account that are not caused by UvestFinance's fault or negligence.
                            </p>
                            <p class="mb">
                                You promise to keep all passwords, PIN numbers, and access codes and information for your UvestFinance Account completely secret. 
                                UvestFinance will not be held accountable for any access to or use of your UvestFinance Account as a result of any disclosure of such access information by you or anyone else to whom you disclosed such information later.
                            </p>
                            
                            <p class="mb-3">Protecting your UvestFinance Account and any access information related to it includes, but is not limited to:</p>
                            <ul class="pl-4">
                                <li>Logging out of your UvestFinance Account whenever you are not using it;</li>
                                <li>Keeping any device you use to access your UvestFinance Account safe and secure, 
                                and ensuring that any email account(s) you use to connect with us are also secure and only accessed by you;</li>
                                <li>Not writing down or disclosing the password to your UvestFinance Account;</li>
                                <li>Changing the password to your UvestFinance Account on a regular basis;</li>
                            </ul>
                            <p class="mb-3">
                                If you receive any SMSs, emails, questionnaires, surveys, or other links requiring you to provide your UvestFinance Account access information, 
                                do not provide your information and contact us immediately at <a href="mailto:support@uvestfinance.com">support@uvestfinance.com</a>;
                            </p>
                            <p class="mb-3">
                                If you believe your UvestFinance Account access information has been lost, stolen, or that anyone has access to your email account or device you use to communicate with us, 
                                do not provide your information and contact us immediately at <a href="mailto:support@uvestfinance.com">support@uvestfinance.com</a>
                            </p>
                            <p>If you have any questions concerning this, please contact us:</p>
                            <ul class="pl-4">
                                <li>at: <a href="mailto:support@uvestfinance.com">support@UvestFinance.com</a></li>
                                <li>or visiting our website: <a href="https://uvestfinance.com/">here</a></li>
                            </ul>
                        </section>
                        
                        <section class="section-4 mb-5">
                            <h5>4. Unauthorized Access</h5>
                            <p class="mb-3">
                                If you suspect a UvestFinance Transaction was conducted erroneously or without your permission, 
                                please notify us as soon as possible using the UvestFinance App or by emailing <a href="mailto:support@uvestfinance.com"></a>. 
                                Failure to contact us as soon as you become aware of the unauthorised or wrongly completed UvestFinance Transaction, 
                                or within two months of the date of the transaction, may result in you losing your right to have the situation addressed.
                            </p>
                        </section>
                        
                        <section class="section-5 mb-5">
                            <h5>5. Notice and Communication</h5>
                            <p class="mb-3">
                                You accept to receive electronic messages from UvestFinance in connection with UvestFinance and the UvestFinance Services. 
                                We shall send you communications via the UvestFinance App or via email to the primary email address indicated in your UvestFinance Account profile ('Primary Email Address'). 
                                It is your responsibility to keep this Primary Email Address safe. 
                                You acknowledge that UvestFinance is not responsible for any damages or losses incurred as a result of any unauthorized use or loss of control of the above-mentioned Primary Email Address.
                            </p>
                        </section>
                        
                        <section class="section-6 mb-5">
                            <h5>6. Customer Support and Complaints</h5>
                            <p class="mb-3">
                                We take customer complaints very seriously. Please refer to our Complaints Policy on the Website <a href="https://uvestfinance.com/">here</a> if you desire to lodge a formal complaint about us, 
                                the services we provide, or your UvestFinance Account.
                            </p>
                            <p class="mb-3">
                                You may obtain a copy of the applicable UvestFinance Terms, 
                                as well as any other information relevant to current applicable laws and regulations, 
                                at any time during the term of any UvestFinance Terms.
                            </p>
                        </section>
                        
                        
                        <section class="section-7 mb-5">
                            <h5>7. How to Contact Us</h5>
                            <p class="mb-3">Protecting your UvestFinance Account and any access information related to it includes, but is not limited to:</p>
                            <ul class="pl-4">
                                <li>By email: <a href="mailto:support@uvestfinance.co">support@UvestFinance.co</a></li>
                                <li>By visiting our website: <a href="https://uvestfinance.com/">https://uvestfinance.com</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
                

                

    {% include "./includes/footer.html" %}
{% endblock terms %}