{% extends "dashboard-base.html" %} 

{% block side-nav %}
  {% include "./includes/side-nav.html" %}
{% endblock side-nav %}


{% block withdrawal-history  %}
  
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="alert alert-success alert-dismissible"
          id="main_alert"
          role="alert"
        >
          <button type="button" id="close_alert" class="close">
            <span aria-hidden="true"
              ><i class="icofont-close-line-squared-alt"></i
            ></span>
          </button>
          <span class="msg"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="panel-title">My Withdrawals</span>
            <a
              class="btn btn-primary btn-sm float-right"
              href="{% url 'withdrawal' %}"
              ><i class="fa fa-plus-circle"></i> Withdraw Funds</a
            >
          </div>

          <div class="card-body">
            <table id="loans_table" class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Withdrawal ID</th>
                  <th>Currency</th>
                  <th class="text-right">Amount</th>
                  <th class="text-right">Wallet</th>
                  <th class="text-right">Crypto-Currency</th>
                  <th class="text-right">Address</th>
                  <th>Withdrawal Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for withdrawal in withdrawals %}
                  <tr>
                    <td>{{ withdrawal.pk }}</td>
                    <td>{{ withdrawal.currency }}</td>
                    <td>{{ withdrawal.amount }}</td>
                    <td>{{ withdrawal.wallet.wallet_name }}</td>
                    <td>{{ withdrawal.wallet.crypto }}</td>
                    <td>{{ withdrawal.wallet.address }}</td>
                    <td>{{ withdrawal.withdrawal_date }}</td>
                    <td><button type="button" class="btn {% if withdrawal.status == 'Pending' %}
                      btn-warning
                    {% elif withdrawal.status == 'Completed' %}
                      btn-success
                    {% else %}
                      btn-danger
                    {% endif %}
                    ">{{ withdrawal.status }}</button></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!--End layoutSidenav_content-->
{% endblock withdrawal-history  %}